.sidebarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sidebarOption:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twiter-color);
    transition: color 100ms ease-out;
}
.something{
    padding:20px;
}

.sidebarOption>h2{
    font-weight: 500;
    font-size: 20px ;
    margin-right: 20px;
}