.post{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}
.post__body>img{
    border-radius: 20px;
    width: 90%;
    padding-top: 0.8em;

}
.post__badge{
    color: var(--twiter-color);
    font-size: 20px;
}
.post__footer{
    display: flex;
    /* justify-content: space-around; */
    margin-top: 10px;
    
}
.post__footer>*{
    margin-left: auto;
    margin-right: auto;
   padding-right: 35px;
}
.post__avatar{
    padding: 10px;
}
.post__headerText{
    display: flex;
    justify-content: flex-start;
}
.post__headerText>*{
    padding: 3px;
}